include LICENSE
include README.md
include pyproject.toml
recursive-include pyjevsim *.py
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
recursive-exclude utils *
recursive-exclude venv *
global-exclude *.pyc
global-exclude __pycache__
